
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  header {
    background-color: #218d1f;
    color: white;
    position: relative;
    padding: 20px;
    text-align: center;
  }

  #picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  #picture img {
    max-width: 50%;
    max-height: 50%;
    object-fit: contain;
  }
  
  #QR {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }

  #QR img{
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

  #welcome, #chess {
    flex-basis: 25%;
    padding: 20px;
    flex: 2;
}

  h1 {
    margin: 0;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    flex: 1;
    text-align: center;
  }
  
  nav a {
    color: #333;
    display: block;
    padding: 10px 0;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
  }
  
  section {
    flex: 1;
    padding: 20px;
    text-align: center;
  }

  img {
    max-width: 10%;
  }
  
  footer {
    background-color: #218d1f;
    color: white;
    padding: 20px;
    text-align: center;
  }